body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    width: 90%;
    max-width: 1200px;
}
#message-container {
    border: 1px solid black;
    margin: 40px;
    flex-grow: 1;
    overflow-y: auto;
}
#message-container div{
    background-color: #ccc;
    padding: 5px;
}
#form {
    display: grid;
    grid-template-columns: 1fr 15fr 1fr;
    gap: 2vw;
    padding: 0 20vw;
}